<body class='<%= controller.controller_name %>' >
  <main>
      <% if flash[:notice] %>
          <div class="flash">
             <%= flash[:notice] %>
           </div>
      <% end %>
  <div class=main-show >
  <div>
     <h4>Title:&nbsp;</h4>
     <%= @book.title %>
  </div>
  <div>
    <h4>body:&nbsp;</h4>
    <%= @book.body %>
   </div>
</div>
<br>
<%= link_to "Edit", edit_book_path(@book) %>
|
<%= link_to "Back", books_path %>

<%= yield %>
</main>
</body>